<main>
    <div class="content">
        <div class="login-wrapper">
            <form class="login-form" method="POST" action="/api/v1/login">
                
                <div class="form-group">
                    <div class="form-input-wrapper">
                        <input class ="email-login" type="text" name="username" placeholder="Enter username/email here." />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-input-wrapper">
                        <input class="#password-login" type="password" name="password" placeholder="Enter password here." />
                    </div>
                </div>

                <div class="form-group action">
                    <div class="form-input-wrapper">
                        <button class="form-submit login-submit">Log In</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</main>